/* ========================================
   VARIÁVEIS DE TEMA - LIGHT MODE
   ======================================== */
:root {
    /* Backgrounds */
    --bg-primary: #f5f4f0;
    --bg-secondary: #eeece7;
    --bg-tertiary: #dadbdd;
    
    /* Textos */
    --text-primary: #1a1a18;
    --text-secondary: #2e2e2c;
    --text-tertiary: #a0a09a;
    
    /* Cores de Interface */
    --header-color: var(--bg-primary);
    --border-color: #d8d6d0;

    --accent-color: #3b82f6;
    --accent-hover: #629bf8;
    --bg-accent-color: #ccdcf5;
    --text-accent-color: #ffffff;
    
    /* Cores de Status */
    --success-color: #10b981;
    --warning-color: #f59e0b;
    --error-color: #ef4444;
    --info-color: #3b82f6;

    --bg-success: #d1fae5;
    --bg-warning: #fef3c7;
    --bg-error: #fee2e2;

    --text-success: #065f46;
    --text-warning: #92400e;
    --text-error: #991b1b;

    /* Cores dAs categorias */
    --mode-football: #3b82f6;
    --mode-others: #f59e0b;
    --mode-motor: #ef4444;

    /* Max sizes */
    --page-width-size: 1400px;

    /* Font sizes */
    --font-size-xs: 0.675rem;
    --font-size-mds: 0.735rem;
    --font-size-sm: 0.79rem;
    --font-size-mdm: 0.85rem;
    --font-size-md: 0.925rem;
    --font-size-lg: 1.05rem;
    --font-size-xl: 1.175rem;
    --font-size-xxl: 1.275rem;
    --font-size-mxxl: 1.8rem;
    --font-size-xxxl: 2.05rem;

    /* Border sizes */
    --border-radius-size-xs: 0.25rem;
    --border-radius-size-sm: 0.375rem;
    --border-radius-size-md: 0.5rem;
    --border-radius-size-lg: 0.75rem;
    --border-radius-size-xl: 1rem;
    --border-radius-size-circle: 15rem;

    --logo-size: 50px;

    @media (max-width: 720px) {
        --font-size-xs: 0.65rem;
        --font-size-mds: 0.7rem;
        --font-size-sm: 0.75rem;
        --font-size-mdm: 0.825rem;
        --font-size-md: 0.875rem;
        --font-size-lg: 1rem;
        --font-size-xl: 1.125rem;
        --font-size-xxl: 1.25rem;
        --font-size-mxxl: 1.75rem;
        --font-size-xxxl: 2rem;

        --logo-size: 45px;
    }

    @media (max-width: 496px) {
        --font-size-xs: 0.6rem;
        --font-size-mds: 0.65rem;
        --font-size-sm: 0.7rem;
        --font-size-mdm: 0.75rem;
        --font-size-md: 0.85rem;
        --font-size-lg: 0.95rem;
        --font-size-xl: 1.1rem;
        --font-size-xxl: 1.2rem;
        --font-size-mxxl: 1.7rem;
        --font-size-xxxl: 1.9rem;

        --logo-size: 40px;
    }

    /* Cores dos modos */
    .mode-football  { color: #fff; background-color: var(--mode-football); }
    .mode-multisport { color: #000; background-color: var(--mode-others); }
    .mode-motorsport { color: #fff; background-color: var(--mode-motor); }
}

/* TEMA: OUTROS FUTEBOL */
body.theme-football {
    --accent-color: #3b82f6;
    --accent-hover: #5795f8;
    --text-accent-color: #ffffff;
}

/* TEMA: OUTROS ESPORTES */
body.theme-others {
    --accent-color: #f59e0b;
    --accent-hover: #f7ad2e;
    --text-accent-color: #000000;
}

/* TEMA: AUTOMOBILISMO */
body.theme-motor {
    --accent-color: #ef4444;
    --accent-hover: #f76767;
    --text-accent-color: #ffffff;
}

/* DARK MODE - TEMA PADRÃO */
@media (prefers-color-scheme: dark) {
    :root {
        /* Backgrounds */
        --bg-primary: #131313;
        --bg-secondary: #1a1a1a;
        --bg-tertiary: #565656;
        
        /* Textos */
        --text-primary: #e8e8e8;
        --text-secondary: #aaaaaa;
        --text-tertiary: #555555;
        
        /* Interface */
        --border-color: #333333;

        --accent-color: #e8ff4a;
        --accent-hover: #bdda07;
        --bg-accent-color: #1e2200;
        --text-accent-color: #000000;

        /* Cores de Status */
        --bg-success: #064e3b;
        --bg-warning: #451a03;
        --bg-error: #450a0a;

        --text-success: #6ee7b7;
        --text-warning: #fcd34d;
        --text-error: #fca5a5;
    }
}



