<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo-section" id="logo-header">
                <a class="logo-section" id="logo-header-svg">
                    <img src="logo.png" alt="Logo" class="site-logo-img"/>          
                </a>
                <div>
                    <p class="home-section-title" id="headerTitle" style="display: none; font-weight: 600;">Sport Archive</p>
                    <h2 class="page-title" id="page-title"></h2>
                </div>
            </div>
            <div class="button-section" id="header-actions"></div>
        </div>
    </div>
</header>