<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo-section" id="logo-header">
                <a class="logo-section" id="logo-header-svg">
                    <img src="logo.png" alt="Logo" class="site-logo-img"/>          
                </a>

                <div>
                    <div style="display: flex; gap: 4px;">
                        <p class="home-section-title" id="headerTitle" style="display: none;">Sport Archive</p>
                        <p class="home-section-title-admin" id="headerTitleAdmin" style="display: none;">Admin</p>
                    </div>
                    <h2 class="page-title" id="page-title"></h2>
                </div>
            </div>

            <div class="button-section" id="header-actions"></div>

            <a href="my-requests.html" class="my-requests-btn" id="headerRequestBtn"></a>
        </div>
    </div>
</header>